<div class="center hero-unit">
    <h1>Welcome to the Csv-to-Ics converter!</h1>

    <h2>
      This is the home page for the
      the Csv-to-Ics converter.
    </h2>

  </div>
  <div class="row">
    <div class="span12">
        <div class="well">
            <p><h2>
            		Today is crazy, managing your or your family's schedules can be nightmare, so many different activities, game and parties.
            		Things can get so out of hand, your wall calendar can end up looking like your kindergartener colored all over it. Worse, you
            		have no way to share all this information unless people take the time to view the calendar on the wall. Make things easier! With 
            		Csv to ics converter, create a csv file with all your events and create a ics file that all your family can upload into their phone
            		and computer. Now everyone will know what is going on!!!!!!
            	</h2>
        	</p>
        	<%= link_to "Try it now!", upload_path, 
                                class: "btn btn-large btn-primary" %>
        </div>   
    </div>
  </div>
